
<h1>Login</h1> 
<span ng-controller="signIn">
    <form ng-submit="signIn(user)" class="signin form-horizontal" name="signInForm">
        <div class="control-group">
            <label for="username" class="control-label">Username</label>

            <div class="controls">
                <input id="username" type="text" name="username" placeholder="Username" ng-model="user.username" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>

            <div class="controls">
                <input id="password" type="password" name="password" placeholder="Password" ng-model="user.password" required>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login&nbsp;</button>
            or&nbsp;<a ui-sref="SignUp" class="show-signup">Sign Up</a>
        </div>
    </form>
</span>
