<!-- Search bar-->
<input type="text" class="form-control" ng-model="search" placeholder="Search for an art request">

<section data-ng-init="find()">
	<h1>Archive</h1>
	<ul class="old unstyled">
		<li class="request-list" data-ng-show="global.user.id == article.User.id && article.status == 'Finalized'" data-ng-repeat="article in articles | filter:search | orderBy: -createdAt " data-ng-show="global.authenticated">
			<span>Created: {{article.createdAt | date:'medium'}}</span> / <span>{{article.User.name}}</span>
			<span>Updated: {{article.updatedAt | date:'medium'}}</span>
			<h2><a ui-sref="viewArticle({articleId : article.id})">{{article.title}}</a></h2>
			<div>Notes: {{article.content}}</div>
			<div>Status: {{article.status}}</div>
		</li>
	</ul>

	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a ui-sref="createArticle">Create One</a>?</h1>
</section>