<section data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>

			<div class="controls">
				<input type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="content">Notes</label>

			<div class="controls">
				<textarea data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Notes">
				</textarea>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="status">Status</label>
				<select data-ng-model="article.status" id="status" type="text" required>
						<option value="" hidden />
						<option disabled selected value=""> --Choose a Status-- </option>
						<option value="Artist Preparation">Artist Preparation</option>
						<option value="Customer Approval">Customer Approval</option>
						<option value="Regulatory Approval">Regulatory Approval</option>
						<option value="Finalized">Finalized</option>
				</select>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>