<section data-ng-init="findOne()">
    <span>{{article.updatedAt | date:'medium'}}</span>/
    <span>{{article.User.name}}</span>
    <h2>{{article.title}}</h2>
    <div data-ng-show="global.user.id == article.User.id">
        <a data-ng-show="global.user.id == article.User.id && article.status != 'Finalized'" class="btn" ui-sref="editArticles({articleId : article.id})">Edit</a>
        <a class="btn" data-ng-click="remove();">Delete</a>
    </div>
    <div>Notes: {{article.content}}</div>
    <div>Status: {{article.status}}</div>
    
    <div data-ng-if="article.status == 'Artist Preparation'">
		<img src="./img/images/red.png" alt="Artist Preparation"/>
	</div>

	<div data-ng-if="article.status == 'Customer Approval'">
		<img src="./img/images/orange.png" alt="Customer Approval"/>
		<button>View File</button>
	</div>
	<div data-ng-if="article.status == 'Regulatory Approval'">
		<img src="./img/images/yellow.png" alt="Regulatory Approval"/>
	</div>
	<div data-ng-if="article.status == 'Finalized'">
			<img src="./img/images/green.png" alt="Finalized"/>
			<button>View Final Design</button>
	</div>

</section>
